<html>
    <head>
        <title>Live Update</title>
        <style type="text/css">
            body {
                margin: 30px;
                font-family: sans-serif;
                background: #fff;
            }
            h1 {background: #ccf; padding: 20px;}
            div.update {width: 100%; padding 5px;}
            div.even {background: #ddd;}
            div.timestamp {float: left; font-weight: bold;}
            div.text {float: left; padding-left: 10px;}
            div.clear {clear: both; height: 10px;}
        </style>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" language = "javascript">
            function update(){
                update_holder = $("#update-holder");
                most_recent = update_holder.find("div:first");
                most_recent_id = most_recent.attr('id');
                
                if(most_recent_id == 'undifined')       
                    most_recent_id = '0';
                
                $.getJSON("/liveupdate/updates-after/" + most_recent.attr('id'), function(data){
                    jQuery.each(data, function(){
                        update_holder.prepend(
                              '<div class="update" id="'+ this.pk +'">'
                            + ' <div class="timestamp">'+ this.fields.timestamp +'</div>'
                            + ' <div class="text">'+ this.fields.text +'</div>'
                            + ' <div class="clear"></div>'
                            + '</div>'
                        );    
                    })
                });
            }
            $(document).ready(function(){
                setInterval("update()", 5000);            
            })
        </script>
    </head>    
    <body>
        <h1>Welcome to live update</h1>
        <p>This site will automatically refresh</p>
        {% if object_list %}
            <div id="update-holder">
                {% for object in object_list %}
                    <div class="update" id="{{object.id}}">
                        <div class="timestamp">{{object.timestamp}}</div>
                        <div class="text">{{object.text}}</div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No updates yet</p>
        {% endif%}                                    
    </body>
</html>        